.fon{
	width: 100%;	
	height: 100%;
	background: url("https://blamper.ru/steady/53/0b/62/covers/530b62b95ba7d9d9257b5754/150x150_otsutstvie-kontakta-v-zadnih-fonaryah-vaz-2108-2109-ili-21099.jpg");
	background-size: cover;
}
.kartinka{
	width: 1600px;
	height: 800px;
	background-color: gainsboro;
	border-radius: 20px;
	border: 5px solid black;
	position: absolute;
	left: 160px;
	right: 160px;
	top: 50px;
}
.kartinka2{
	width: 500px;
	height: 500px;
	background: url("https://cdn0.iconfinder.com/data/icons/outlined-working-at-office-i/512/Settings-1024.png");
	background-size: cover;
	position: absolute;
	left: 600px;
	top: 200px;
}
.kartinka3{
  	width: 400px;
  	height: 400px;
  	background-color: white;
  	position: absolute;
  	top: 150px;
  	left: 20px;
}
.kartinka4{
	width: 400px;
  	height: 400px;
  	background: url(https://a.d-cd.net/1226259s-1920.jpg);
  	background-size: cover;
  	position: absolute;
  	top: 200px;
  	left: 70px;
}
.text1{
	font-size: 30px;
	font-weight: bold;
	color: red;
	position: absolute;
	top: 200px;
	left: 550px;
}
.krug1{
	font-size: 50px;
	color: red;
	position: absolute;
	top: 210px;
	left: 500px	;
}
.text2{
	font-size: 30px;
	font-weight: bold;
	color: red;
	position: absolute;
	top: 200px;
	left: 900px;
}
.krug2{
	font-size: 50px;
	color: red;
	position: absolute;
	top: 210px;
	left: 850px	;
}
.krug3{
	font-size: 50px;
	color: red;
	position: absolute;
	top: 295px;
	left: 1050px	;
}
.text3{
	font-size: 30px;
	font-weight: bold;
	color: red;
	position: absolute;
	top: 300px;
	left: 1100px;
}
.krug4{
	font-size: 50px;
	color: red;
	position: absolute;
	top: 360px;
	left: 1050px
}
.text4{
	font-size: 30PX;
	font-weight: bold;
	color: red;
	position: absolute;
	top: 350px;
	left: 1100px;
}
.krug5{
	font-size: 50px;
	color: red;
	position: absolute;
	top: 440px;
	left: 1050px
}
.text5{
	font-size: 30px;
	font-weight: bold;
	color: red;
	position: absolute;
	top: 430px;
	left: 1100px;
}
.krug5{
	font-size: 50px;
	color: red;
	position: absolute;
	top: 440px;
	left: 1050px
}
.krug6{
	font-size: 50px;
	color: red;
	position: absolute;
	top: 520px;
	left: 1050px
}
.text6{
	font-size: 30px;
	font-weight: bold;
	color: red;
	position: absolute;
	top: 510px;
	left: 1100px;
}
.ustal{
	width: 150px;
	height: 40px;
	background-color: white;
	border-radius: 10px;
	border: 2px solid black;
	text-align: center;
	font-size: 30px;
	position: absolute;
	top: 10px;
	left: 10px;
}
.ustal a{
	text-decoration: none;
	color: black;
}
.ustal:hover{
	background-color: lightskyblue;
}